name: Run Automation Tests

on:
  workflow_dispatch:
    inputs:
      testsPath:
        description: 'Path to Tests to be Executed'
        default: ''
      headless:
        description: 'Run tests in headless mode'
        default: 'false'

jobs:
  run-tests-ubuntu:
    if: ${{ github.event.inputs.headless == 'true' }}  # Run on Ubuntu if headless is true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
         distribution: 'zulu' # See 'Supported distributions' for available options
         java-version: '21'


      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
            maven-version: 3.9.9

      - name: Run Tests
        run: mvn clean test -Dheadless=true

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Tests Report
          path: 'target/surefire-reports/TEST-*.xml'
          reporter: java-junit

  run-tests-windows:
    if: ${{ github.event.inputs.headless == 'false' }}  # Run on Windows if headless is false
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '21'

      - name: Setup Maven
        uses: stCarolas/setup-maven@v5
        with:
         maven-version: 3.9.9

      - name: Run Tests
        run: mvn clean test -Dheadless=false

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Tests Report
          path: 'target/surefire-reports/TEST-*.xml'
          reporter: java-junit
